<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% include analytics_head.html %}
  </head>

  <body class="bg-gray-100 text-gray-800">
    <div id="bar"></div>
    <div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-10">
      <header class="flex items-center justify-between mb-6">
        <!-- Uncomment the line below if you have a site avatar -->
        <!-- <a href="{{ site.baseurl }}/" class="flex-shrink-0"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" class="h-16 w-16 rounded-full"></a> -->

        <div class="site-info">
          <h1 class="text-4xl font-bold mb-2"><a href="{{ site.baseurl }}/" class="text-gray-900 hover:text-gray-600">{{ site.name }}</a></h1>
          <p class="text-xl">{{ site.description }}</p>
        </div>

        <nav class="space-x-4">
          <a href="{{ site.baseurl }}/" class="text-lg text-gray-700 hover:text-gray-500">Home</a>
          <a href="{{ site.baseurl }}/projects" class="text-lg text-gray-700 hover:text-gray-500">Projects</a>
          <a href="{{ site.baseurl }}/about" class="text-lg text-gray-700 hover:text-gray-500">About</a>
          <a href="https://drive.google.com/file/d/1xKKb-1Z8g15iO0pFLxaiNZES_A0t6r9G/view?usp=sharing" class="text-lg text-gray-700 hover:text-gray-500">Resume</a>
        </nav>
      </header>

      <main id="main" role="main" class="container mx-auto">
        {{ content }}
      </main>

      <footer class="mt-10">
        {% include svg-icons.html %}
      </footer>
    </div>

    {% include analytics.html %}
  </body>
</html>
